* {
    margin: 0; padding: 0; box-sizing: border-box;
}
header {
    background-color:#c41c2c;
    color: white;
    height: 58px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
#menu {
    float: right;
    margin-right: 5%;
    list-style: none;
}
h2 {
    float: left;
    margin-top: 12px;
    margin-left: 20px;
    font-family: 'Satisfy', cursive;
}
h3 {
    text-align:center;
    margin-bottom: 10px;
    background-color: #c41c2c;
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    color: white;
    border: solid 2px #a3282f;
    border-radius: 10px;
}

p {
    font-size: 25px;
}
li {
    float: left;
    padding: 10 20 10 20;
    margin-top: 0px;
    position: relative;
    font-size: 30PX;
}
li:hover {
    background-color: #5c070b;
    border: white 2px solid;
    border-radius: 5px;
}
#background {
    background-image: url("img/bg.jpg");
    height: 100%;
    background-size: cover;
    border-bottom: 30px solid #c41c2c ;
}
#capa {
    float: left;
    width: 700px; height: 500px;
    padding: 150px 100px;
    text-align: center;
    margin-left: 30px;
}
#titulo {
    color:#c41c2c;
    font-size: 100px;
    font-family: 'Satisfy', cursive;
    border-bottom: 2px solid white;
}
#subtitulo {
    color: white;
    margin-left: 30px;
    font-size: 30px;
}
#projeto {
    margin: 2% 25%;
}
.padrao {
    padding: 20px;
    float: left;
}
.coluna {
    float: left;
    position: relative;
    width: 50%;
}
iframe {
    border: #c41c2c solid 20px; border-radius: 8px;
}
.video {
    float: left;
    width: 15%;
    margin: 10% 5%;
}

.justificado {
    text-align: justify;
}
.destaque {
    background-color: #f3cfd3;
    width: 100%;
}
.divisora {
    border-bottom: 30px solid #c41c2c;
}
.icon {
    width: 10%;
}


